{% block content %}
<div class="container mt-4">
  <h2 class="mb-3">New story ? </h2>

  <form method="post" class="form">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.title.label_tag }}
      {{ form.title }}
      {% if form.title.errors %}
        <div class="invalid-feedback">
          {{ form.title.errors }}
        </div>
      {% endif %}
    </div>

    <div class="mb-3">
      {{ form.content.label_tag }}
      {{ form.content }}
      {% if form.content.errors %}
        <div class="invalid-feedback">
          {{ form.content.errors }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}