{% block content %}
<div class="container mt-4">
  <h2 class="mb-3 text-center">New story ? </h2>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form method="post" class="form">
        {% csrf_token %}

        <div class="mb-3">
          {{ form.title.label_tag }}
          {{ form.title }}
          {% if form.title.errors %}
            <div class="alert alert-danger">
              {{ form.title.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.content.label_tag }}
          {{ form.content }}
          {% if form.content.errors %}
            <div class="alert alert-danger">
              {{ form.content.errors }}
            </div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}